@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;


/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 400px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 120px;
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;

      svg {
        fill: #C2C5C5;
      }
    }
  }

  .top-bar-right,.top-bar-left {
    ul {
      li {
        a {
          text-transform: uppercase;
          color: #131515;
          font-weight: 300;
          letter-spacing: 2px;

          height: 80px;
          //border-bottom: solid 5px black;
          position: relative;
          display: inline-block;

          &:after {
              content: '';
              display: block;
              margin: auto;
              height: 2px;
              width: 0px;
              background: transparent;
              transition: width .5s ease, background-color .5s ease;
              position: absolute;
              top: 40px;
              left: 0;
              background: #C2C5C5;

          }

          &:hover,&:active {

              &:after {
                  width: 100%;

              }
          }
        }
      }
    }
  }
  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;
    padding-top: 30px;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;
    padding-top: 30px;

    ul {
      float: right;
    }
  }
}


footer {
  position: fixed;
  bottom: 0;

  .menu {
    margin-left: 0;
     li a {
      text-transform: uppercase;
      color: #131515;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: .8rem;
    }
  }
}

h5,small {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;

  a {
    color: #131515;
    &:hover {
        color: #131515;
    }
  }

}

small {
  font-size: .8rem;
  margin-top: -20px;
  text-transform: inherit;
}

.button {
  font-weight: 600;

}


.cart {
  img {
    height: 300px;
    margin-bottom: 30px;
  }

}
